<!-- M A S S   M E D I A   S T A R T-->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">Пресса</div>
            <div class="common_top-subheading">ёнгын вāрмаляныл</div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">Участник программы «Маска Плюс» Фестиваля 2015 года. Спектакль “И дольше века длится день”</span><br>
                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1154</a>
                </div>
            </div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">Номинации на Премию «Золотая Маска» 2014г. - «Лучший спектакль в театре кукол», «Лучшая работа режиссера»,
«Лучшая работа художника». Спектакль “Дети неба”</span><br>
                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1060</a>
                </div>
            </div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">О театре обско-угорских народов “Солнце”</span><br>
                    <a class="mass_media-link" href="">http://tonkosti.ru/Театр_обско-угорских_народов_«Солнце»</a>
                </div>
            </div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                </div>
            </div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                </div>
            </div>
        </div>
        <div class="mass_media-box">
            <div class="mass_media-paragraph">
                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                <div class="text-wrap">
                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- M A S S   M E D I A   E N D-->