.partners_box {
    width: 20%;
    float: left;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 949px) {
    .partners_box {
        width: 33%;
        float: left;
    }
}
@media screen and (max-width: 480px) {
    .partners_box {
        width: 50%;
        float: left;
    }
}
@media screen and (max-width: 320px) {
    .partners_box {
        width: 100%;
        float: left;
    }
}