<!-- F E E D B A C K   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="gallery_heading-box">
        <div class="common_top-heading">Награды</div>
    </div>
    <div class="gallery">
        <div class="gallery_filters">
            <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2004" href="#">2004</a></p>
            <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2005" href="#">2005</a></p>
            <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2006" href="#">2006</a></p>
            <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2007" href="#">2007</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2008" href="#">2008</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2009" href="#">2009</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2010" href="#">2010</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2011" href="#">2011</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2012" href="#">2012</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2013" href="#">2013</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2014" href="#">2014</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2015" href="#">2015</a></p>
            <p class="gallery_menu_paragraph filters_active"><a class="gallery_year-filter" data-filter="2016" href="#">2016</a></p>
        </div>
        <div class="fe-row gallery_afisha-grid awards_content-separator">
            <div class="awards_content">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-4 awards_content_name">
                    <img src="/img/awards_content_award-preview-1.jpg" alt="" class="awards_content-img-border" />
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-8 awards_content_message">
                    <p class="awards_content_message_text awards_content-title">Благодарственное письмо. Награжден коллектив БУ “Театр обско-угорских народов ”Солнце”</p>
                    <p class="awards_content_message_text">за помощь в организации мероприятий, посвященных 15-летнему юбилею “Природный парк ”Самаровский чугас”.</p>
                    <p class="awards_content_message_text awards_content-date">24.03.2016</p>
                </div>
            </div>
        </div>
        <div class="fe-row gallery_afisha-grid">
            <div class="awards_content">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-4 awards_content_name">
                    <img src="/img/awards_content_award-preview-2.jpg" alt=""  class="awards_content-img-border" />
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-8 awards_content_message">
                    <p class="awards_content_message_text awards_content-title">Благодарственное письмо коллективу БУ “Театр обско-угорских народов ”Солнце”</p>
                    <p class="awards_content_message_text">в связи с профессиональным проаздником - Днем работников культуры.</p>
                    <p class="awards_content_message_text awards_content-date">16.03.2016</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- F E E D B A C K   C O N T E N T   E N D -->
