<!-- D O C U M E N T S   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="gallery_heading-box">
        <div class="common_top-heading">Документы</div>
        <div class="common_top-subheading">театрын мирт</div>
    </div>
    <div class="gallery">
        <div class="gallery_filters">
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2011" href="#">2011</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2012" href="#">2012</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2013" href="#">2013</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2014" href="#2014">2014</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2015" href="#2015">2015</a></p>
            <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2016" href="#2016">2016</a></p>
        </div>

        <div class="fe-row">
            <div class="documents_content_year-wrapper">
              <span id="2016" class="documents_content_year">2016</span>
            </div>
            <div class="documents_content_documents-wrapper">
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении государственного задания за I квартал 2016 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ об утверждении антикоррупционной политики</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ об утверждении Плана по улучшению качества работы</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Правила внутреннего трудового распорядка</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Колективный договор</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ Министерства культуры РФ от 17 декабря 2008 г. N 257 "Об утверждении бланков строгой отчетности"</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Письмо Министерства финансов РФ от 14.12.2010 N 03-01-15/9-257</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ об утверждении государственного задания бюджетному учреждению Ханты-Мансийского автономного округа - Югры "Театр обско-угорских народов - Солнце" на 2016 год за счет средств бюджета Ханты-Мансийского автономного округа - Югры</span>
                  </a>
                </p>
            </div>
        </div>

        <div class="fe-row">
            <div class="documents_content_year-wrapper">
              <span id="2015" class="documents_content_year">2015</span>
            </div>
            <div class="documents_content_documents-wrapper">
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Статистический отчет 9-НК за 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении государственного задания за 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ об утверждении предельной стоимости входных билетов на спектакли театра</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении государственного задания за 3 квартал 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Экспертное заключение об объемах и качестве оказанных государственных услуг за 1 полугодие 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении Государственного задания за 1 полугодие 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении Государственного задания за 1 квартал 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ от 09 декабря 2014 года № 438-01-09 об утверждении Государственного задания Театру обско-угорских народов - Солнце на 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">193-ФЗ Об альтернативной процедуре урегулирования споров с участием постредничества (процедуре медиации)</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">1430-р концепция развития до 2017 года сети служб медиации</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Письмо минстерства образования РФ о направлении методических рекомендаций по организации служб медиации</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Правовые технологии посредничества (медиации) в РФ</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Постановление КДН ¦ 14 от 17 июня 2015</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Прил к ¦ 14 от 17 06 2015 (Единый план-график)</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Постановление КДН ¦ 20 от 29 сентября 2014</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">ГУ исполнение постановлений КДН от 17.06.2015</span>
                  </a>
                </p>
            </div>
        </div>

        <div class="fe-row">
            <div class="documents_content_year-wrapper">
              <span id="2014" class="documents_content_year">2014</span>
            </div>
            <div class="documents_content_documents-wrapper">
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Статистический отчет 9-НК за 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении государственного задания за 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ об утверждении предельной стоимости входных билетов на спектакли театра</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении государственного задания за 3 квартал 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Экспертное заключение об объемах и качестве оказанных государственных услуг за 1 полугодие 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении Государственного задания за 1 полугодие 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Отчет об исполнении Государственного задания за 1 квартал 2015 года</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Приказ от 09 декабря 2014 года № 438-01-09 об утверждении Государственного задания Театру обско-угорских народов - Солнце на 2015 год</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">193-ФЗ Об альтернативной процедуре урегулирования споров с участием постредничества (процедуре медиации)</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">1430-р концепция развития до 2017 года сети служб медиации</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Письмо минстерства образования РФ о направлении методических рекомендаций по организации служб медиации</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Правовые технологии посредничества (медиации) в РФ</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Постановление КДН ¦ 14 от 17 июня 2015</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Прил к ¦ 14 от 17 06 2015 (Единый план-график)</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">Постановление КДН ¦ 20 от 29 сентября 2014</span>
                  </a>
                </p>
                <p class="documents_content_document-wrapper">
                  <a href="">
                    <img src="icon/img/docs.png" alt="" />
                    <span class="documents_content_document-title">ГУ исполнение постановлений КДН от 17.06.2015</span>
                  </a>
                </p>
            </div>
        </div>

    </div>
</div>
<!-- D O C U M E N T S    C O N T E N T   E N D -->
