<!-- F E E D B A C K   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">
{{ page['page']['field_title_header'][languages[language1]][0]['value'] }}
            </div>
            <div class="common_top-subheading">
{{ page['page']['field_title_header'][languages[language2]][0]['value'] }}
            </div>
        </div>
        <div class="gallery">    

            <div class="gallery_filters">

<data-repeat ng-repeat="item in page['filter_menu']" >
                <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2007" 
href="{{ item['field_link']['und'][0]['value'] }}">
{{ item[languages[language1]]['und'][0]['value'] }}
                </a></p>
</data-repeat>

            </div>

            <div class="fe-row gallery_afisha-grid">


<data-repeat ng-repeat="item in page['comments']" >
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">
{{ item['#comment']['created'] | fromtimestamp }}
                        </p>
                        <p class="feedbacks_name_text">
{{ item['#comment']['name'] }}
                        </p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">
{{ item['#comment']['comment_body']['und'][0]['value'] }}
                            </p>
                        </div>
                    </div>
                </div>
</data-repeat>


                            <form 
ng-if="page['page']['static']['coment_form']"
                            id="formx"
                            class="feedback-form" 
custom-submit-dir
                            >
                                <h4 class="feedback-title">
{{ page['page']['static'][languages[language1]]['review_title'] }}
                                </h4>
                                <input 
                class=" feedback feedback-name" type="text" 
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_name'] }}"
required="required" min='1' max="100"
alt="{{ page['page']['vid'] }}"
/>
                                <textarea 
                class=" feedback feedback-text" name="textarea" rows="8" cols="40"
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_text'] }}"
required="required" min='2' max="20000"
></textarea>
                                <input class="submit-button" type="submit" name="submit-button"
value="{{ page['page']['static'][languages[language1]]['send_button'] }}"

/>
                            </form>


        </div>
    </div>
</div>
<!-- F E E D B A C K   C O N T E N T   E N D -->




 <ng-include src="'/views/global/lazyload.html'"></ng-include>