<!-- F E E D B A C K   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">Книга отзывов</div>
            <div class="common_top-subheading">ёнгын вāрмаляныл</div>
        </div>
        <div class="gallery">
            <div class="gallery_filters">
                <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2007" href="#">2007</a></p>
                <p class="gallery_menu_paragraph filters_active"><a class="gallery_year-filter" data-filter="2008" href="#">2008</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2009" href="#">2009</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2010" href="#">2010</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2011" href="#">2011</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2012" href="#">2012</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2013" href="#">2013</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2014" href="#">2014</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2015" href="#">2015</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2016" href="#">2016</a></p>
            </div>
            <div class="fe-row gallery_afisha-grid">
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">16 января</p>
                        <p class="feedbacks_name_text">Спектакль «Дети Неба»</p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">Василиса Пупкина<br>Впервые попала в Театр обско-угорских народов- Солнце".Была в полном восторге от увиденного, от игры
                                актеров, декораций. С удовольствием придем на просмотры других спектаклей. Спасибо всем огромное!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">23 января</p>
                        <p class="feedbacks_name_text">Спектакль «Дети Неба»</p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">Впервые попала в Театр обско-угорских народов- Солнце".Была в полном восторге от увиденного, от игры
                                актеров, декораций. С удовольствием придем на просмотры других спектаклей. Спасибо всем огромное!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">15 февраля</p>
                        <p class="feedbacks_name_text">Спектакль «Дети Неба»</p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">
                                Ребята, эмоции и чувства никогда не уместятся. Спасибо за это проживание, смелое и отчаянное…За правду
                                жизни, за духовность! Безумно благодарна за минуты жизни, за то, как и ради кого стоит жить. Спасибо
                                за слезы, пожелания любви. Огромная благодарность главным героям, в них узнаешь себя и осознаешь правду.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">30 марта</p>
                        <p class="feedbacks_name_text">Спектакль «Дети Неба»</p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">Огромное спасибо артистам! Спектакль многому научит наших детей! Чудесная обстановка, яркие декорации
                                и мастерство остались в нашей памяти и душе! Ждем новых встреч с театром- Солнце. Новых творческих
                                находок и побед.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fe-col-12 feedbacks">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12 feedbacks_name">
                        <p class="feedbacks_name_text">16 января
                        </p>
                        <p class="feedbacks_name_text">Спектакль «Черная песня» </p>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-12 feedbacks_message">
                        <div>
                            <p class="feedbacks_message_text">ыражаем огромную благодарность актерам и администрации театра. Замечательная постановка вызвала
                                массу эмоций, и радость ,и слезы. Это говорит о колоссальном профессионализме и горячей любви к своему
                                народу! Желаем здоровья, процветания и долгих лет жизни в творчестве.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fe-row">
                <div class="fe-col-12">
                    <form class="feedback-form feedbacks-fix" action="feedback">
                        <h4 class="feedback-title">Оставить отзыв:</h4>
                        <input class="feedback feedback-name" type="text" placeholder="Имя Фамилия">
                                        <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40"
                                                  placeholder="Текст отзыва"></textarea>
                        <input class="submit-button" type="submit" name="submit-button"
                               value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- F E E D B A C K   C O N T E N T   E N D -->