<!--
<div 
oc-lazy-load='[
"/js/menu.js",
"/js/accordion.js"
]'>
 
</div>

<div
        oc-lazy-load='[
            "/js/jquery-scroll.js",
            "/js/waypoints.init.js",
        ]'>

</div>

-->

<data-js-lazy-load 
	js-lazy-load	src="/js/menu.js" >
</data-js-lazy-load>

<data-js-lazy-load 
	js-lazy-load	src="/js/accordion.js" >
</data-js-lazy-load>

<data-js-lazy-load 
	js-lazy-load	src="/js/jquery-scroll.js" >
</data-js-lazy-load>

<data-js-lazy-load 
	js-lazy-load	src="/js/waypoints.init.js" >
</data-js-lazy-load>

