
<!-- START OF TABS -->


<!-- W H I T E   S P A C E   G A L L E R Y   S T A R T -->
<div class="fe-row">
    <div class="fe-col-12 fe-col-m-only">
        <!--T A B S-->
        <div class="tabs">
            <ul class="tabs-links">

                <li 
display-none-dir
dataa="{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }}"
datatargetfortabs="#tab1"
dircanbestart="{{ page['page']['vid'] }}"
                class="active tabs-item"><a class="tabs-link  gb-cursor-pointer" 
                datahref="#tab1">
{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }} 
                &nbsp;&nbsp;&nbsp;|<br> 
                    <span class="tabs-subheading">
{{ page['page']['field_title_photo']
[languages[language2]][0]['value'] }}                                       
                    </span></a></li>

                <li 
display-none-dir
dataa="{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }}"
datatargetfortabs="#tab2"
dircanbestart="{{ page['page']['vid'] }}"
                class="tabs-item"><a class="tabs-link  gb-cursor-pointer" 
                datahref="#tab2">
{{ page['page']['field_title_video']
[languages[language1]][0]['value'] }} 
                &nbsp;&nbsp;&nbsp;|<br> 
                    <span class="tabs-subheading">
{{ page['page']['field_title_video']
[languages[language2]][0]['value'] }}                                       
                    </span></a></li>

                <li 
display-none-dir
dataa="{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }}"
datatargetfortabs="#tab3"
dircanbestart="{{ page['page']['vid'] }}"
                class="tabs-item"><a class="tabs-link gb-cursor-pointer" 
                datahref="#tab3">
{{ page['page']['field_title_press']
[languages[language1]][0]['value'] }} 
                &nbsp;&nbsp;&nbsp;|<br> 
                    <span class="tabs-subheading">
{{ page['page']['field_title_press']
[languages[language2]][0]['value'] }}                                       
                    </span></a></li>

                <li 
display-none-dir
dataa="{{ page['page']['field_title_docu']
[languages[language1]][0]['value'] }}"
datatargetfortabs="#tab4"
dircanbestart="{{ page['page']['vid'] }}"
                class="tabs-item"><a class="tabs-link gb-cursor-pointer" 
                datahref="#tab4">
{{ page['page']['field_title_docu']
[languages[language1]][0]['value'] }} 
                &nbsp;&nbsp;&nbsp;|<br> 
                    <span class="tabs-subheading">
{{ page['page']['field_title_docu']
[languages[language2]][0]['value'] }}                                       
                    </span></a></li>

                <li 
display-none-dir
shownodetabsdir
dataa="{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }}"
datatargetfortabs="#tab5"
dircanbestart="{{ page['page']['vid'] }}"
                class="tabs-item"><a class="tabs-link  gb-cursor-pointer" 
                datahref="#tab5">
{{ page['page']['field_title_awards']
[languages[language1]][0]['value'] }} 
                &nbsp;&nbsp;&nbsp;|<br> 
                    <span class="tabs-subheading">
{{ page['page']['field_title_awards']
[languages[language2]][0]['value'] }}                                       
                    </span></a></li>

                        <li 
                        class="tabs-item"><a class="tabs-link  gb-cursor-pointer" 
                        datahref="#tab6">
{{ page['page']['field_title_comments'][languages[language1]][0]['value'] }}
                        <br> <span
                                class="tabs-subheading">
{{ page['page']['field_title_comments'][languages[language2]][0]['value'] }}
                         </span></a></li>
            </ul>
            <div class="tabs-content">


                <div

dataa="{{page['page']
['field_project_photo']['und']}}"
dircanbestart="{{ page['page']['vid'] }}"
datatargettab="#tab1"
                        id="tab1" class="tab tab-active fe-col-12">
                    <!-- P H O T O   C A R O U S E L -->
                    <div class="prev-button photo-buttons"><img src="/icon/img/prev_button.png" alt=""></div>
                    <div class="next-button photo-buttons"><img src="/icon/img/next_button.png" alt=""></div>
                    <div id="lightgallery" class="owl-carousel owl-theme">


<data-repeat ng-repeat="item in page['page']
['field_project_photo']['und']" >
   
                                <div 
                                class="item" 
data-src="{{item['uri']}}"
                                >
                                    <img 
src="{{item['filename'] | changestartpath : 
'/content/sites/default/files/styles/medium/public/' }}" 
                                    />
                                </div>
</data-repeat>

                    </div>
                </div>



                        <div 

dataa="{{page['page']
['field_project_video']['und']}}"
dircanbestart="{{ page['page']['vid'] }}"
datatargettab="#tab2"
                        id="tab2" class="tab">
                            <!-- V I D E O   C A R O U S E L -->
                            <div class="prev-button video-buttons"><img src="/icon/img/prev_button.png" alt=""></div>
                            <div class="next-button video-buttons"><img src="/icon/img/next_button.png" alt=""></div>
                            <div id="video-gallery" class="owl-carousel owl-theme">
                                <!--<div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">-->


   
<data-repeat ng-repeat="item in page['page']
['field_project_video']['und']" >
                                <div class="light-gal-item" 
data-src="{{ item['input'] | trusted }}">
                                    <img class="grayscale" 
src="{{ item['video_id'] 
| changestartpath : 
'http://img.youtube.com/vi/' 
| changeendpath : 
'/hqdefault.jpg' 
 }}" />
                                </div>
   
</data-repeat>                                



                            </div>
                        </div>


                <div 

dataa="{{page['page']
['field_press'][languages[language1]]}}"
dircanbestart="{{ page['page']['vid'] }}"
datatargettab="#tab3"
                id="tab3" class="tab">
                    <!-- P U B L I C A T I O N S -->
                    <div class="fe-col-12">
                        <!--<div class="gallery_heading-box">-->
                            <!--<div class="common_top-heading">Пресса</div>-->
                            <!--<div class="common_top-subheading">ёнгын вāрмаляныл</div>-->
                        <!--</div>-->
<data-repeat ng-repeat="item in page['page']
['field_press'][languages[language1]]" >
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">

                                    <span class="mass_media-text">
{{ item['title'] }}
                                    </span><br>
                                    <a class="mass_media-link" 
                                    href="{{ item['value'] }} "
                                    target="_blank"
                                    >
{{ item['value'] }}                                    

</a>
                                </div>
                            </div>
                        </div>
</data-repeat>

                    </div>
                </div>

                <div 

dataa="{{page['page']['field_docu'][languages[language1]]}}"
dircanbestart="{{ page['page']['vid'] }}"
datatargettab="#tab4"
                id="tab4" class="tab">
                    <!-- D O C S -->

<data-repeat ng-repeat="item in 
page['page']['field_docu'][languages[language1]]" >
                    <p>
                        <a target="_blank"
href="{{ item['uri'] }}"
                        ><img  
src="/icon/img/docs.png"  
alt=""/><span 
class="white-space_gallery_docs-item">
{{ item['filename'] }}
</span></a>
                    </p>
</data-repeat>

                </div>

                <div 

dataa="{{ page['page']['field_page_awards']
[languages[language1]][0]['value'] }}"
dircanbestart="{{ page['page']['vid'] }}"
datatargettab="#tab5"
                id="tab5" class="tab">
                    <!-- F E S T I V A L   R E S U L T S -->
                
                    <p>
{{ page['page']['field_page_awards']
[languages[language1]][0]['value'] }}
                   </p>

                </div>

                <!---->
                <div id="tab6" class="tab">
                    <!-- F E E D B A C K -->
                    <div class="fe-row">
                        <div class="fe-col-12">

                            <form id="formx"
                            class="feedback-form" 
custom-submit-dir
                            >
                                <h4 class="feedback-title">
{{ page['page']['static'][languages[language1]]['review_title'] }}
                                </h4>
                                <input 
                class=" feedback feedback-name" type="text" 
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_name'] }}"
required="required" min='1' max="100"
alt="{{ page['page']['vid'] }}"
/>
                                <textarea 
                class=" feedback feedback-text" name="textarea" rows="8" cols="40"
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_text'] }}"
required="required" min='2' max="20000"
></textarea>
                                <input class="submit-button" type="submit" name="submit-button"
value="{{ page['page']['static'][languages[language1]]['send_button'] }}"

/>
                            </form>


                                    <div 
ng-repeat="item in page['comments']"
                                    class="post" >
                                        <p class="post-name">
{{ item['comment_body']['#object']['subject'] }}
                                        </p>
                                        <p class="post-date">
{{ item['comment_body']['#object']['created'] | fromtimestamp }}
</p>
                                        <p class="post-message">
{{ item['comment_body']['#object']['comment_body']['und'][0]['value'] }}
 </p>
                                    </div>  

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--A C C O R D E O N-->
    <div class="invisible fe-col-12">
        <div class="accordion accordion-about">

            <div class="accordion-section">
                <a class="accordion-section-title activeTitle gb-cursor-pointer"
                datahref="#accordion-1"><span
                        class="inner-box-text">
{{ page['page']['field_title_photo']
[languages[language1]][0]['value'] }} 
                        </span></a>

                <div id="accordion-1" class="accordion-section-content activeContent">
                    <div id="tab1" class="tab tab-active fe-col-12">
                        <!-- P H O T O   C A R O U S E L -->
                        <div id="lightgallery2" class="owl-carousel owl-theme">


<data-repeat ng-repeat="item in page['page']
['field_project_photo']['und']" >  
                                <div 
                                class="item" 
data-src="{{item['uri']}}"
                                >
                                    <img 
src="
{{item['filename'] | changestartpath : 
'/content/sites/default/files/styles/medium/public/' }}
" 
                                    />
                                </div>
</data-repeat>


                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title gb-cursor-pointer" 
                datahref="#accordion-2"><span
                        class="inner-box-text">
{{ page['page']['field_title_video']
[languages[language1]][0]['value'] }} 
                        </span></a>

                <div id="accordion-2" class="accordion-section-content">
                    <!-- V I D E O   C A R O U S E L -->
                    <div id="video-gallery2" class="owl-carousel owl-theme">

<data-repeat ng-repeat="item in page['page']
['field_project_video']['und']" >
                                <div class="light-gal-item" 
data-src="{{ item['input'] | trusted }}">
                                    <img  
src="{{ item['video_id'] 
| changestartpath : 
'http://img.youtube.com/vi/' 
| changeendpath : 
'/hqdefault.jpg' 
 }}" />
                                </div>
   
</data-repeat>   

                    </div>
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title gb-cursor-pointer" 
                datahref="#accordion-3"><span
                        class="inner-box-text">
{{ page['page']['field_title_docu']
[languages[language1]][0]['value'] }} 
                </span></a>

                <div id="accordion-3" class="accordion-section-content">

                    <!-- P U B L I C A T I O N S -->
                    <div class="fe-col-12">
                        <!--<div class="gallery_heading-box">-->
                            <!--<div class="common_top-heading">Пресса</div>-->
                            <!--<div class="common_top-subheading">ёнгын вāрмаляныл</div>-->
                        <!--</div>-->

<data-repeat ng-repeat="item in page['page']
['field_press'][languages[language1]]" >
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">

                                    <span class="mass_media-text">
{{ item['title'] }}
                                    </span><br>
                                    <a class="mass_media-link" 
                                    href="{{ item['value'] }} "
                                    target="_blank"
                                    >
{{ item['value'] }}                                    

</a>
                                </div>
                            </div>
                        </div>
</data-repeat>

                    </div>

                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title gb-cursor-pointer" 
                datahref="#accordion-4"><span
                        class="inner-box-text">
{{ page['page']['field_title_docu']
[languages[language1]][0]['value'] }} 
                </span></a>

                <div id="accordion-4" class="accordion-section-content">
                    <!-- D O C S -->


<data-repeat ng-repeat="item in 
page['page']['field_docu'][languages[language1]]" >
                    <p>
                        <a target="_blank"
href="{{ item['uri'] }}"
                        ><img  
src="/icon/img/docs.png"  
alt=""/><span 
class="white-space_gallery_docs-item">
{{ item['filename'] }}
</span></a>
                    </p>
</data-repeat>

                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title gb-cursor-pointer" 
                datahref="#accordion-5"><span
                        class="inner-box-text">
{{ page['page']['field_title_awards']
[languages[language1]][0]['value'] }} 
                </span></a>

                <div id="accordion-5" class="accordion-section-content">
                    <!-- F E S T I V A L   R E S U L T S -->

                    <p>
{{ page['page']['field_page_awards']
[languages[language1]][0]['value'] }}
                   </p>
                    
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title gb-cursor-pointer" 
                datahref="#accordion-6"><span
                        class="inner-box-text">
{{ page['page']['field_title_comments'][languages[language1]][0]['value'] }}
                    </span></a>

                <div id="accordion-6" class="accordion-section-content">
                    <!--F E E D B A C K-->
                    <div class="fe-row">
                        <div class="fe-col-12">

                            <form id="formx"
                            class="feedback-form" 
custom-submit-dir
                            >
                                <h4 class="feedback-title">
{{ page['page']['static'][languages[language1]]['review_title'] }}
                                </h4>
                                <input 
                class=" feedback feedback-name" type="text" 
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_name'] }}"
required="required" min='1' max="100"
alt="{{ page['page']['vid'] }}"
/>
                                <textarea 
                class=" feedback feedback-text" name="textarea" rows="8" cols="40"
placeholder="{{ page['page']['static'][languages[language1]]['placeholder_text'] }}"
required="required" min='2' max="20000"
></textarea>
                                <input class="submit-button" type="submit" name="submit-button"
value="{{ page['page']['static'][languages[language1]]['send_button'] }}"

/>
                            </form>


                                    <div 
ng-repeat="item in page['comments']"
                                    class="post" >
                                        <p class="post-name">
{{ item['comment_body']['#object']['subject'] }}
                                        </p>
                                        <p class="post-date">
{{ item['comment_body']['#object']['created'] | fromtimestamp }}
</p>
                                        <p class="post-message">
{{ item['comment_body']['#object']['comment_body']['und'][0]['value'] }}
 </p>
                                    </div>  


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- W H I T E   S P A C E   G A L L E R Y   E N D -->



<data-init-dir 
        tabs-jquery-plagins-init-dir="{{page}}" >
</data-init-dir >




<div 
        oc-lazy-load='[
            "/js/jquery-scroll.js",
            "/js/waypoints.init.js",
            "/js/accordion.js",
            "/js/menu.js"
        ]'>
 
</div>

<!-- END OF TABS -->