<!-- F E E D B A C K   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="gallery_heading-box">
        <div class="common_top-heading">
{{ page['static'][languages[language1]]['header'] }} 
        </div>
    </div>
    <div class="gallery">
        <div class="gallery_filters">

<data-repeat ng-repeat="item in page['filter_menu']" >
            <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" 
href="{{item['field_link']['und'][0]['value']}}">
{{item[languages[language1]]['und'][0]['value']}}
            </a></p>
</data-repeat>
            
        </div>

<data-repeat ng-repeat="item in page['widget']" > 
       
        <div class="fe-row gallery_afisha-grid awards_content-separator"
ng-if="hash == '' || '#'+hash == item[languages[language1]]['item']['sort']"
        >
            <div class="awards_content">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-4 awards_content_name">
<img src="{{item[languages[language1]]['item']['image']['src'] }}" 
alt="" class="awards_content-img-border" />
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-8 awards_content_message">
                    <p class="awards_content_message_text awards_content-title">
{{item[languages[language1]]['item']['title'] }}
                    </p>
                    <p class="awards_content_message_text">
{{item[languages[language1]]['item']['body'] }}
                    </p>
                    <p class="awards_content_message_text awards_content-date">
{{item[languages[language1]]['item']['date'] }}
                    </p>
                </div>
            </div>
        </div>
</data-repeat>

    </div>
</div>
<!-- F E E D B A C K   C O N T E N T   E N D -->



<ng-include src="'/views/global/lazyload.html'"></ng-include>
