<!-- P A R T N E R S   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">
{{ page['static'][languages[language1]]['header'] }} 
            </div>
            <div class="common_top-subheading">
{{ page['static'][languages[language2]]['header'] }} 
            </div>
        </div>

        <div class="fe-row gallery_afisha-grid">

<data-repeat ng-repeat="item in page['widget']">
            <div class="partners_box">
<a target="_blank"
href="{{item[languages[language1]]['item']['link']}}">
<img src="{{item[languages[language1]]['item']['logo']['src']}}" alt="">
</a>
            </div>
</data-repeat>

        </div>
    </div>
</div>
<!-- P A R T N E R S   E N D -->

<ng-include src="'/views/global/lazyload.html'"></ng-include>