<!-- W H I T E   S P A C E   R E P E R T U A R   S T A R T -->
<div class="fe-row">
  <div class="white-space_repertuar white-space_margin global_content-wrapper">
    <h2 class="common_top-heading heading_top_border">Репертуар</h2>
    <div class="white-space_repertuar_schedule">
      <h3 class="white-space_repertuar_date">25 мая 2016 | среда</h3>
      <div class="fe-row white-space_repertuar_date-item">
        <div class="fe-col-8 fe-col-n-12 fe-col-s-6 fe-col-m-7">
          <div class="white-space_repertuar_title-box">
            <h4 class="white-space_repertuar_title">Наши сказки <span class="white-space_repertuar_age-rating">6+</span></h4>
            <h5 class="white-space_repertuar_subtitle">“Театр кукол” г. Ханты-Мансийск</h5>
          </div>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <span class="white-space_repertuar_time">10:00</span>
        </div>
        <div class="fe-col-2 fe-col-n-8 fe-col-s-4 fe-col-m-3">
          <span class="white-space_repertuar_teatr">КТЦ ”Югра-Классик”</span>
          <span class="white-space_repertuar_hall">Зал-трансформер</span>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <a href="" class="white-space_repertuar_buy-link"><img src="icon/img/buy.png" alt="" /></a>
        </div>
      </div>
      <div class="fe-row white-space_repertuar_date-item">
        <div class="fe-col-8 fe-col-n-12 fe-col-s-6 fe-col-m-7">
          <div class="white-space_repertuar_title-box">
            <h4 class="white-space_repertuar_title">Умка <span class="white-space_repertuar_age-rating">0+</span></h4>
            <h5 class="white-space_repertuar_subtitle">Театр актера и куклы “Петрушка” г.Сургут</h5>
          </div>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <span class="white-space_repertuar_time">11:00</span>
        </div>
        <div class="fe-col-2 fe-col-n-8 fe-col-s-4 fe-col-m-3">
          <span class="white-space_repertuar_teatr">КТЦ ”Югра-Классик”</span>
          <span class="white-space_repertuar_hall">Большой зал</span>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <a href="" class="white-space_repertuar_buy-link"><img src="icon/img/buy.png" alt="" /></a>
        </div>
      </div>
      <div class="fe-row white-space_repertuar_date-item">
        <div class="fe-col-8 fe-col-n-12 fe-col-s-6 fe-col-m-7">
          <div class="white-space_repertuar_title-box">
            <h4 class="white-space_repertuar_title">Наташина мечта <span class="white-space_repertuar_age-rating">16+</span></h4>
            <h5 class="white-space_repertuar_subtitle">КТЦ “Югра-Классик” г. Ханты-Мансийск</h5>
          </div>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <span class="white-space_repertuar_time">15:00</span>
        </div>
        <div class="fe-col-2 fe-col-n-8 fe-col-s-4 fe-col-m-3">
          <span class="white-space_repertuar_teatr">КТЦ ”Югра-Классик”</span>
          <span class="white-space_repertuar_hall">Зал-трансформер</span>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <a href="" class="white-space_repertuar_buy-link"><img src="icon/img/buy.png" alt="" /></a>
        </div>
      </div>
      <div class="fe-row white-space_repertuar_date-item">
        <div class="fe-col-8 fe-col-n-12 fe-col-s-6 fe-col-m-7">
          <div class="white-space_repertuar_title-box">
            <h4 class="white-space_repertuar_title">Официальная церемония открытия фестиваля <span class="white-space_repertuar_age-rating">0+</span></h4>
          </div>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <span class="white-space_repertuar_time">17:00</span>
        </div>
        <div class="fe-col-2 fe-col-n-8 fe-col-s-4 fe-col-m-3">
          <span class="white-space_repertuar_teatr">КТЦ ”Югра-Классик”</span>
          <span class="white-space_repertuar_hall">Органный зал</span>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <a href="" class="white-space_repertuar_buy-link"><img src="icon/img/buy.png" alt="" /></a>
        </div>
      </div>
      <div class="fe-row white-space_repertuar_date-item">
        <div class="fe-col-8 fe-col-n-12 fe-col-s-6 fe-col-m-7">
          <div class="white-space_repertuar_title-box">
            <h4 class="white-space_repertuar_title">Курт куда идешь? <span class="white-space_repertuar_age-rating">6+</span></h4>
            <h5 class="white-space_repertuar_subtitle">Театр кукол “Барабашка” г. Нижневартовск</h5>
          </div>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <span class="white-space_repertuar_time">17:00</span>
        </div>
        <div class="fe-col-2 fe-col-n-8 fe-col-s-4 fe-col-m-3">
          <span class="white-space_repertuar_teatr">КТЦ ”Югра-Классик”</span>
          <span class="white-space_repertuar_hall">Органный зал</span>
        </div>
        <div class="fe-col-1 fe-col-n-2">
          <a href="" class="white-space_repertuar_buy-link"><img src="icon/img/buy.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- W H I T E   S P A C E   R E P E R T U A R   E N D -->
