<!-- P E O P L E   A L L   G A L L E R Y   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">Хозяева</div>
            <div class="common_top-subheading">театрын мирт</div>
        </div>
        <div class="gallery">
            <div class="gallery_filters">
                <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="repertuar"
                                                     href="#">Актеры</a></p>
                <p class="gallery_menu_paragraph filters_active"><a class="gallery_year-filter" data-filter="new"
                                                                    href="#">Авторы текстов</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="festival" href="#">Режиссеры</a>
                </p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="tour" href="#">Консультанты</a>
                </p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="lab" href="#">Творческая
                    группа</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="special" href="#">Административная
                    группа</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="special" href="#">Художественный
                    совет</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="special" href="#">Экспертный
                    совет</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="special" href="#">Руководители</a>
                </p>
            </div>
            <div class="fe-row gallery_afisha-grid">
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_6.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_7.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_8.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_6.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_8.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_8.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_6.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_7.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_8.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_6.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_7.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_8.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_7.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_6.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_2.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_1.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_7.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_3.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_4.jpg" alt=""></a></div>
                </div>
                <div class="people_all_gallery-box">
                    <div class="people_all_gallery_inbox"><a href=""><img class="people_gallery-image grayscale"
                                                                          src="/img/people_5.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- P E O P L E   A L L   G A L L E R Y   E N D -->