<!-- Video -->

<div id="video"
     ng-click="routeGoToView(page['lenta']['video_lenta_link'])"
>

    <video autoplay loop
           video-set-dir
           videoid='videoid'
           fildname='video_lenta_mp4'
           id='videoid'>
    </video>

    <div class="fe-none" id="video-image">

        <img class="fe-img"
             img-set-dir
             fildname='video_lenta_jpg'

             alt="people"/>

    </div>

</div>

<div class="scroll-arrow" id="scroll-arrow">
    <img src="icon/img/about-s22-arrow-black.png" alt="">
</div>


<script type="text/javascript">

    if (screen.width < 1000) {

        var video = fe.g("t", "video");
        var videoImage = fe.g("i", "video-image");

        video[0].style.display = "none";
        videoImage.style.display = "block";

    }

</script>