<!-- P R O J E C T S   G A L L E R Y   S T A R T -->

<div class="fe-row common_page-margin" 
        apply>
    <div class="fe-col-12">
        <div 
ng-if="page"
        class="gallery_heading-box">
            <div class="common_top-heading">
{{ page['static'][languages[language1]]['title'] }}
            </div>
            <div class="common_top-subheading">
{{ page['static'][languages[language2]]['title'] }}
            </div>
        </div>
        <div class="gallery">
            <div class="gallery_filters">

<data-repeat ng-repeat="item  in page['filter_menu']" >
                <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="repertuar" 
ng-click="routeGoToView(item['field_link']['und'][0]['value'])" 
                >
                {{ item[languages[language1]]['und'][0]['value'] }}
                </a></p>
</data-repeat>
                
            </div>

            <div class="fe-row gallery_afisha-grid">

<data-repeat ng-repeat="item  in page['widget']" >
                <div  class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a ><img class="gallery_afisha-image" 
src="{{ item[languages[language1]]['item']['image']['src'] }}"
alt="{{ item[languages[language1]]['item']['image']['alt'] }}"
ng-click="routeGoToView(item[languages[language1]]['item']['link'])" 
>
</a></div></div>
</data-repeat>             

        </div>
    </div>
</div>

<!-- P R O J E C T S   G A L L E R Y   E N D -->