<!-- W O R L D   V I E W   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin airSticky_stop-block">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">
{{ page['page']['field_title_header'][languages[language1]][0]['value'] }} 
            </div>
            <div class="common_top-subheading">
{{ page['page']['field_title_header'][languages[language2]][0]['value'] }} 
            </div>
        </div>
        <div class="gallery">

            <div class="gallery_filters">

<data-repeat ng-repeat="item in page['page']['field_submenu'][languages[language1]]" >
                <p class="gallery_menu_paragraph">
                <a class="active gallery_year-filter" 
                href="{{ item['value'] }}">
{{ item['title'] }}
                </a>
                </p>
</data-repeat>

            </div>

            <div class="fe-row">
                <div class="fe-col-8 left-box">

                    <div 
                    none-if-ru-dir
                    class="fe-col-12 "  id='lang1show' >
 <data-div 
 ng-bind-html="page['page']['field_pages_content']['field_lang_ru'][0]['value']">
</data-div>
                    </div>

                    <div 
                    none-if-en-dir
ng-if="page['page']['field_pages_content']['field_lang_en']"
                    class="fe-col-12 "  id='lang2show' >
 <data-div 
 ng-bind-html="page['page']['field_pages_content']['field_lang_en'][0]['value']">
</data-div>
                    </div>

                    <div 
ng-if="page['page']['field_pages_content']['field_lang_kh']"
                    class="fe-col-12 gb-display-none"  id='lang3show' >
 <data-div 
 ng-bind-html="page['page']['field_pages_content']['field_lang_kh'][0]['value']">
</data-div>
                    </div>

                    <div 
ng-if="page['page']['field_pages_content']['field_lang_mns']"
                    class="fe-col-12 gb-display-none"  id='lang4show' >
 <data-div 
 ng-bind-html="page['page']['field_pages_content']['field_lang_mns'][0]['value']">
</data-div>
                    </div>


                    <div class="fe-col-12 ">
                        <a class="more_button" >
{{ page['page']['static'][languages[language1]]['more_button'] }}
                         >></a>
                    </div>
                    
                </div>
                <div class="fe-col-4 right-box">
                    <div class="empty-fix"></div>
                    <div class="fixed_aside">

                        <div 
ng-if="page['page']['field_pages_content']['field_lang_en'] &&
page['page']['field_pages_content']['field_lang_kh'] &&
page['page']['field_pages_content']['field_lang_mns']"
                        class="language_box">
                            <p class="main_contents_title">Оглавление</p>
                            <img src="/icon/img/book.png" alt="">
                            <p class="contents_title">Перевод:
                                <a class="language_item gb-cursor-pointer"
ng-click="changelanguagelocaly(1)" 
                                >РУС</a>
                                <a 
ng-if="page['page']['field_pages_content']['field_lang_en']"
                                class="language_item gb-cursor-pointer"
 ng-click="changelanguagelocaly(2)"                                 
                                >ENG</a>
                                <a 
ng-if="page['page']['field_pages_content']['field_lang_kh']"
                                class="language_item gb-cursor-pointer" 
ng-click="changelanguagelocaly(3)" 
                                >Хнт</a>
                                <a 
ng-if="page['page']['field_pages_content']['field_lang_mns']"
                                class="language_item gb-cursor-pointer" 
ng-click="changelanguagelocaly(4)" 
                                >Мнс</a>
                            </p>
                        </div>

<data-div ng-bind-html="
page['page']['field_right_side'][languages[language1]][0]['value']">
</data-div>

<!--
                        <div class="language_box">
                            <p class="main_contents_title">Оглавление</p>
                            <img src="icon/img/book.png" alt="">
                            <p class="contents_title">Перевод:
                                <a class="language_item gb-cursor-pointer"
ng-click="changelanguage('ru', 1); changelanguagelocaly(1)" 
                                >РУС</a>
                                <a class="language_item gb-cursor-pointer"
 ng-click="changelanguage('en', 1); changelanguagelocaly(1)"                                 
                                >ENG</a>
                                <a class="language_item gb-cursor-pointer" 
ng-click="changelanguage('kh', 2); changelanguagelocaly(2)" 
                                >Хнт</a>
                                <a class="language_item gb-cursor-pointer" 
ng-click="changelanguage('mns', 2); changelanguagelocaly(2)" 
                                >Мнс</a>
                            </p>
                        </div>


                    </div>

                    <div class="contents">
                        
                        <div class="fe-col-12">
                            <div class="accordion menu-narrow">

<data-repeat ng-repeat="item in page['page']['field_right_side'][languages[language1]]" >
                                <div class="accordion-section">
                                    <a class="accordion-section-title activeTitle active" 
                                    datamenuhref="#accordion-{{$index}}"><img
                                            src="/icon/img/book.png" alt=""><span
                                            class="contents_title">
{{ item['value'] }}
                                        </span></a>

                                    <div id="accordion-{{$index}}" class="accordion-section-content paddingless activeContent">
                                        <div id="tab1" class="tab tab-active fe-col-12">
                                            <ul>
                                                <li class="contents_subtitle-item"><a class="contents_subtitle" 
                                                href="">

                                                Еремей
                                                    Айпин. Отрывок из романа.</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
</data-repeat>

                            </div>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- W O R L D   V I E W   C O N T E N T   E N D -->




<data-js-lazy-load 
    js-lazy-load    src="/js/old-worldview-mns.js" >
</data-js-lazy-load>

<!--   
    лейзи лоад в табсах, мы подключаем табсы
<ng-include src="'/views/global/lazyload.html'"></ng-include>   

<div 
        oc-lazy-load='[
            "/js/old-worldview-mns.js"
        ]'>
 
</div>
-->
