<!-- J O B S   C O N T E N T   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box borderless">
            <div class="common_top-heading">Вакансии</div>
            <div class="common_top-subheading">ёнгын вāрмаляныл</div>
        </div>
        <div class="jobs_box">
            <div class="fe-col-12 vacancy">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-12 job_title">
                    <p class="jobs_title_text">Для трудоустройства лиц с ограниченными
                            возможностями. Требуется Артист оркестра
                    </p>
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-12 job_description">
                    <div>
                        <p class="job_description_text">Требуется на постоянную работу:<br>
                    трудоустройство согласно ТКРФ. Высшее профессиональное образование (культура и искусство),
                    без предьявления требований к стажу работы или среднее профессиональное образование и стаж
                    работы не менее 3-х лет в должности артист-музыкант, артист оркестра. Режим работы с 9.00. до 18.00.
                    Заработная плата 20000 рублей.</p>
                    </div>
                </div>
            </div>
            <div class="fe-col-12 fe-col-n-12 fe-col-s-12 vacancy">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-12 job_title">
                    <p class="jobs_title_text">Для трудоустройства лиц с ограниченными
                        возможностями. Требуется Артист оркестра
                    </p>
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-12 job_description">
                    <div>
                        <p class="job_description_text">Требуется на постоянную работу:<br>
                        трудоустройство согласно ТКРФ. Высшее профессиональное образование (культура и искусство),
                        без предьявления требований к стажу работы или среднее профессиональное образование и стаж
                        работы не менее 3-х лет в должности артист-музыкант, артист оркестра. Режим работы с 9.00. до 18.00.
                        Заработная плата 20000 рублей.</p>
                    </div>
                </div>
            </div>
            <div class="fe-col-12 fe-col-n-12 fe-col-s-12 vacancy">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-12 job_title">
                    <p class="jobs_title_text">Для трудоустройства лиц с ограниченными
                        возможностями. Требуется Артист оркестра
                    </p>
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-12 job_description">
                    <div>
                        <p class="job_description_text">Требуется на постоянную работу:<br>
                        трудоустройство согласно ТКРФ. Высшее профессиональное образование (культура и искусство),
                        без предьявления требований к стажу работы или среднее профессиональное образование и стаж
                        работы не менее 3-х лет в должности артист-музыкант, артист оркестра. Режим работы с 9.00. до 18.00.
                        Заработная плата 20000 рублей.</p>
                    </div>
                </div>
            </div>
            <div class="fe-col-12 fe-col-n-12 fe-col-s-12 vacancy">
                <div class="fe-col-3 fe-col-n-12 fe-col-s-12 job_title">
                    <p class="jobs_title_text">Для трудоустройства лиц с ограниченными
                        возможностями. Требуется Артист оркестра
                    </p>
                </div>
                <div class="fe-col-9 fe-col-n-12 fe-col-s-12 job_description">
                    <div>
                        <p class="job_description_text">Требуется на постоянную работу:<br>
                        трудоустройство согласно ТКРФ. Высшее профессиональное образование (культура и искусство),
                        без предьявления требований к стажу работы или среднее профессиональное образование и стаж
                        работы не менее 3-х лет в должности артист-музыкант, артист оркестра. Режим работы с 9.00. до 18.00.
                        Заработная плата 20000 рублей.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- J O B S   C O N T E N T   E N D -->