<!-- E A S T E R   E G G S   S T A R T -->
<div class="fe-row common_page-margin">
    <p class="common_top-heading">Над сайтом работали:</p>
    <div class="fe-col-7 fe-col-n-12">
        <p class="easter_paragraph">
            <span class="easter_text">var 42team.ru =</span> {<br>
                <span class="easter_margin"><span class="easter_text">Художественное решение:</span> Саблина Мария, Вишневская Анна-Ксения,<br></span>
            <span class="easter_margin"><span class="easter_text">Фотография:</span> Сафонов Денис,<br></span>
            <span class="easter_margin"><span class="easter_text">Дизайнер:</span> Белоусова Анна,<br></span>
            <span class="easter_margin"><span class="easter_text">Верстка:</span> Гусаков Александр,<br></span>
            <span class="easter_margin"><span class="easter_text">Програмирование:</span> Тильга Александр, Сизый Иван<br></span>
           <span class="easter_text">};<br></span>
        </p>
    </div>
    <div class="fe-col-5 fe-col-n-12">
        <div class="nyan-box">
            <img src="/img/nyaninja.GIF" alt="">
        </div>
    </div>
</div>
<div class="fe-row">
    <div class="fe-col-4 fe-col-n-12">
        <div class="logo-box">
            <img src="/img/css3_logo.png" alt="">
        </div>
    </div>
    <div class="fe-col-4 fe-col-n-12">
        <div class="logo-box">
            <img src="/img/AngularJS_logo.png" alt="">
        </div>
    </div>
    <div class="fe-col-4 fe-col-n-12">
        <div class="logo-box">
            <img src="/img/drupal-logo-trans.png" alt="">
        </div>
    </div>
    <div class="fe-col-4 fe-col-n-12">
        <div class="logo-box">
            <img src="/img/jquery.png" alt="">
        </div>
    </div>
    <div class="fe-col-4 fe-col-n-12">
        <div class="logo-box last last-box">
            <img src="/img/PHP-logo.png" alt="">
        </div>
    </div>
</div>
<p class="easter_text copyright"><a href="">42team.ru &copy;</a>&nbsp;2016г.</p>
<audio src="/audio/Nyan%20Cat.mp3" controls autoplay="autoplay"></audio>

<!-- E A S T E R   E G G S   E N D-->


<ng-include src="'/views/global/lazyload.html'"></ng-include>