<!-- W H I T E   S P A C E   C O N T A C T S   S T A R T -->
<div class="fe-row contacts_content-bg">
  <div class="contacts_content global_content-wrapper">

 <data-div ng-bind-html="
page['page']['field_body'][languages[language1]][0]['value']">
</data-div>


<!--
    <div class="contacts_content_wrapper">

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Адрес:</p>
        <p class="contacts_content_address">628011 Тюменская обл., г.Ханты-Маснсийск, Мира 14 а</p>
        <p class="contacts_content_address">Дом Дружбы народов</p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Приемная:</p>
        <p class="contacts_content_address">Гизатуллина Светлана Николаевна <span class="contacts_content_contacts">8 (3467) 33-54-63</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Директор:</p>
        <p class="contacts_content_address">Литвинчук Евгений Леонидович <span class="contacts_content_contacts">8 (3467) 35-02-36</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Художественный руководитель:</p>
        <p class="contacts_content_address">Вишневская Анна-Ксения Владимировна <span class="contacts_content_contacts">8 (3467) 33-54-60</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Режиссер:</p>
        <p class="contacts_content_address">Тургачев Александр Петрович <span class="contacts_content_contacts">8 (3467) 33-54-61</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Главный администратор:</p>
        <p class="contacts_content_address">Фоминых Максим Александрович <span class="contacts_content_contacts">8 (3467) 33-54-61</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Отдел кадров:</p>
        <p class="contacts_content_address">Скипина Ольга Владимировна <span class="contacts_content_contacts">8 (3467) 33-54-64</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Бухгалтерия:</p>
        <p class="contacts_content_address"><span class="contacts_content_contacts">8 (3467) 33-54-68</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section contacts_content_section-wrapper">Служба единой социальной психологической помощи:</p>
        <p class="contacts_content_address"><span class="contacts_content_contacts">8-800-101-12-12, 8-800-111-12-00</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section">Телефон для справок:</p>
        <p class="contacts_content_address"><span class="contacts_content_contacts">8 (3467) 36-99-22</span></p>
      </div>

      <div class="fe-row contacts_content_item ">
        <p class="contacts_content_section contacts_content_section-wrapper">По вопросам, предложения и отзывам:</p>
        <p class="contacts_content_contacts contacts_content_contacts-email">mail@toun.ru</p>
      </div>

      <div class="fe-row contacts_content_item contacts_content_item-location">
        <p class="contacts_content_contacts">Схема проезда <span class="contacts_content_contacts-location-icon"><img src="icon/img/location.png" alt=""></span><span class="contacts_content_contacts-location-preview"><img src="img/contacts_content-location-preview.jpg" alt="" /></span></p>
      </div>

      <div class="fe-row contacts_content_icons">
        <ul class="fe-nav" id="footer_icon">
            <li><a href="#"> <img src="icon/img/vk.png" alt="icon"> </a></li>
            <li><a href="#"> <img src="icon/img/facebook.png" alt="icon"> </a></li>
            <li><a href="#"> <img src="icon/img/instagram.png" alt="icon"> </a></li>
            <li><a href="#"> <img src="icon/img/you-tube.png" alt="icon"> </a></li>
        </ul>
      </div>

    </div>
-->

  </div>
</div>
<!-- W H I T E   S P A C E   C O N T A C T S   E N D -->

<ng-include src="'/views/global/lazyload.html'"></ng-include>


