

    <!-- Header -->

 <header class="about-header" 
 style="background: url('{{ page['page']['field_bamper']['und'][0]['uri'] }}') top center no-repeat; background-size: cover;">

        <div id="header_center_logo-mobile" class="fe-none">
            <a href="/">
                <img class="fe-img" 
src="{{ global['settings']
[languages[language1]]['logo_horisontal_invert'] }}">
            </a>
        </div>

        <div class="fe-row">
            <div class="header-h">
                <h2>
                    <span class="header-title-big"> 
{{ page['page']['field_title_header'][languages[language1]][0]['value'] }}
    </span>
                            <br>
                            <span class="header-title-small"> 
{{ page['page']['field_title_header'][languages[language2]][0]['value'] }}
                             </span>
                            </h2>
                            <h3>
                    <span class="header-title-smallest">

{{ page['page']['field_description_page'][languages[language1]][0]['value'] }}
</span>
                </h3>
    </div>
    </div>

    <div class="scroll-arrow" id="scroll-arrow">
        <img src="icon/img/about-s22-arrow.png" alt="">
    </div>

    <div id="header_logo" class="fe-none">

        <div id="header_logo_image">
            <a> <img src="icon/img/icon-logo.png" alt="logo" /> </a>
        </div>

    </div>

    </header>





    <!-- Content -->
    <div id="content">
        <div class="fe-row" id="main">
            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="about-spectacle">
                    <div class="about-spectacle-title">
                        <h3>
                            <span class="title-big"> 
{{ page['page']['field_header_2'][languages[language1]][0]['value'] }}
                            </span>
                            <br>
                            <span class="title-small"> 
{{ page['page']['field_header_2'][languages[language2]][0]['value'] }}
                             </span>
                        </h3>
                        <p class="title-additional">
{{ page['page']['field_project_lenght'][languages[language1]][0]['value'] 
+ ' | '}} 
{{ page['page']['field_age'][languages[language1]][0]['value'] }}                       
                        
                        </p>
                    </div>

<data-div ng-bind-html="
page['page']['field_project_about'][languages[language1]][0]['value']">
</data-div>

<data-div ng-bind-html="
page['page']['field_project_about'][languages[language2]][0]['value']">
</data-div>

<data-repeat class="wrap_read" ng-repeat="target in
page['page']['field_docu'][languages[language1]]">
                        <img 
ng-if="target['description']"
                        src="icon/img/read-piece.png" alt="" />

                    <a target="_blank"
href="{{ target['uri'] }}" 
 class="read-piece-a">

{{ target['description'] }}  

                    </a>
</data-repeat>

                </div>
            </div>

            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="people-of-spectacle">

  
                    <div class="fe-row">
                        <div class="people-of-spectacle-title">
                            <h3>
                                <span class="title-big">
{{ page['page']['field_title_people'][languages[language1]][0]['value'] }} 
                                 </span>
                                <br>
                                <span class="title-small"> 
{{ page['page']['field_title_people'][languages[language2]][0]['value'] }}
                                </span>
                            </h3>
                        </div>
                    </div>


<data-div ng-bind-html="
page['page']['field_project_people'][languages[language1]][0]['value']">
</data-div>


                    <div class="fe-row">
                        <div class="music-of-spectacle-title">
                            <h3>
                                <span class="title-big"> 
{{ page['page']['field_title_music'][languages[language1]][0]['value'] }}
                                </span>
                                <br>
                                <span class="title-small">
{{ page['page']['field_title_music'][languages[language2]][0]['value'] }}

                                 </span>
                            </h3>
                        </div>
                    </div>


                    <div class="fe-row">
                        <div class="fe-col-12">
                            <!-- A U D I O  P L A Y E R -->

    <!-- 
        https://github.com/DIYgod/APlayer
        http://www.jqueryrain.com/?eaSgq611
     -->
    <div>
        <div id="audioplayer" class="aplayer"></div>
        
        <data-init audio-player-dir="
        {{page['page']['field_music_file'][languages[language1]]}}

        ">
        </data-init> 
    </div>
   

                        </div>
                    </div>
                </div>
            </div>
        </div>


    <ng-include src="'/views/global/tabs.html'"></ng-include> 

    </div>


