

		<ng-include src="'/views/global/global-menu.html'"></ng-include>

		<ng-include src="subview"></ng-include>

		<ng-include src="'/views/global/global-footer.html'"></ng-include> 

<!--		

<div id="perfomance-wrapper">	

		<ng-include src="'/views/festival/white_space_festival.html'">
		</ng-include>	

		<ng-include src="'/views/festival/white_space_repertuar.html'">
		</ng-include>	

		<ng-include src="'/views/festival/white_space_gallery.html'">
		</ng-include>

		<ng-include src="'/views/festival/white_space_expert.html'">
		</ng-include>	

		<ng-include src="'/views/festival/white_space_contacts.html'">
		</ng-include>

		<ng-include src="'/views/global/global-footer.html'"></ng-include>

</div>

		<ng-include src="'/views/festival/white_space-lazyload.html'"></ng-include>	

-->
	

 