

<data-div id="perfomance-wrapper">
<!--  
    perfomance-wrapper needs to be for usedge perfomance.css
-->



<!-- W H I T E   S P A C E   F E S T I V A L   S T A R T -->
<div class="fe-row">
  <div class="white-space_page global_content-wrapper">
    <h2 class="common_top-heading white-space_heading-center">
{{ page['page']['field_title_header'][languages[language1]][0]['value']  }}
</h2>
    <div class="common_top-subheading common_top-subheading-center">
{{ page['page']['field_title_header'][languages[language2]][0]['value']  }}
    </div>
    <div class="white-space_page_years">

<data-repeat ng-repeat="item in page['filter_menu']"
ng-click="routeGoToView(item['field_link']['und'][0]['value'])" >
      <p class="gallery_menu_paragraph"><a class="gallery_year-filter" 
data-filter="{{ item[languages[language1]]['und'][0]['value']  }}" 
>
{{ item[languages[language1]]['und'][0]['value']  }} 
      </a></p>
</data-repeat>

    </div>
    <div class="fe-row">
      <div class="fe-col-b-3 fe-col-m-4 space_visible">
        <div class="fe-row white-space_page_logo-box">

          <img src="{{ page['page']['field_page_logo']
[languages[language1]][0]['uri']  }}" alt="" />
        </div>
      </div>
      <div class="fe-col-b-9 fe-col-m-8">
        <div class="white-space_page_article_ru">
          <p class="white-space_paragraph">
{{ page['page']['field_description_page']
[languages[language1]][0]['value']  }}

          </p>
        </div>
        <br><br>
        <div class="white-space_page_article_kca-mns">
          <p class="white-space_paragraph">
{{ page['page']['field_description_page']
[languages[language2]][0]['value']  }}
          </p>
        </div>
      </div>
      <div class="fe-col-b-3 fe-col-m-4 space_invisible">
        <div class="fe-row white-space_page_logo-box">
<img src="{{ page['page']['field_page_logo']
[languages[language1]][0]['uri']  }}" alt="" />
        </div>

<data-repeat ng-repeat="item in page['page']['field_page_links']
[languages[language1]]" >
        <div class="fe-row white-space_page_link-box">
          <a class="" 
ng-click="routeGoToView(item['value'])"          
>
            <span class="white-space_page_link-text">
{{ item['title']  }}
            </span><img 
src="icon/img/read-piece.png" 
alt=""/>
          </a>
        </div>
</data-repeat>

      </div>
    </div>
  </div>
</div>
<!-- W H I T E   S P A C E   F E S T I V A L   E N D -->



<!-- W H I T E   S P A C E   R E P E R T U A R   S T A R T -->
<div class="fe-row">
  <div class="white-space_repertuar white-space_margin global_content-wrapper">
    <h2 class="common_top-heading heading_top_border">
{{ page['page']['field_title_program']
[languages[language1]][0]['value'] }}
</h2>
    <h4 class="common_top-heading heading_top_border">
{{ page['page']['field_title_program']
[languages[language2]][0]['value'] }}
</h4>




<data-div ng-bind-html="
page['page']['field_program']
[languages[language1]][0]['value']">
</data-div>



  </div>
</div>
<!-- W H I T E   S P A C E   R E P E R T U A R   E N D -->





    <ng-include src="'/views/global/tabs.html'"></ng-include> 



<!-- W H I T E   S P A C E   E X P E R T   S T A R T -->
<div class="fe-row">
    <div class="fe-col-6 fe-col-n-12">

<data-div ng-bind-html="
page['page']['field_left_column']
[languages[language1]][0]['value']">
</data-div>
       

    </div>

    <div class="fe-col-6 fe-col-n-12">

<data-div ng-bind-html="
page['page']['field_right_column']
[languages[language1]][0]['value']">
</data-div>

    </div>

</div>
<!-- W H I T E   S P A C E   E X P E R T   E N D -->




<!-- W H I T E   S P A C E   C O N T A C T S   S T A R T -->
<div class="fe-row">


<data-div ng-bind-html="
page['page']['field_contacts'] 
[languages[language1]][0]['value']">
</data-div>

</div>
<!-- W H I T E   S P A C E   C O N T A C T S   E N D -->









<data-init-dir 
        perfomance-jquery-plagins-init-dir="{{page}}" >
</data-init-dir >


<div 
oc-lazy-load='[
"/js/menu.js",
"/js/accordion.js"
]'>
 
</div>





</data-div>