<!-- W H I T E   S P A C E   G A L L E R Y   S T A R T -->
<div class="fe-row">
    <div class="fe-col-12 fe-col-m-only">
        <!--T A B S-->
        <div class="tabs">
            <ul class="tabs-links">
                <li class="active tabs-item"><a class="tabs-link" href="#tab1">Фото &nbsp;&nbsp;&nbsp;|<br>
                    <span class="tabs-subheading">айат</span></a></li>
                <li class="tabs-item"><a class="tabs-link" href="#tab2">Видео &nbsp;&nbsp;&nbsp;| <br> <span
                        class="tabs-subheading">оӑң</span></a></li>
                <li class="tabs-item"><a class="tabs-link" href="#tab3">Пресса о спектакле
                    &nbsp;&nbsp;&nbsp;|<br> <span class="tabs-subheading">лупӑт</span></a></li>
                <li class="tabs-item"><a class="tabs-link" href="#tab4">Документы &nbsp;&nbsp;&nbsp;|<br> <span
                        class="tabs-subheading">лупӑт</span></a></li>
                <li class="tabs-item"><a class="tabs-link" href="#tab5">Итоги &nbsp;&nbsp;&nbsp;|<br> <span
                        class="tabs-subheading">лупӑт</span></a></li>
                <li class="tabs-item"><a class="tabs-link" href="#tab6">Отзывы <br> <span
                        class="tabs-subheading">лупӑт</span></a></li>
            </ul>
            <div class="tabs-content">
                <div id="tab1" class="tab tab-active fe-col-12">
                    <!-- P H O T O   C A R O U S E L -->
                    <div class="prev-button photo-buttons"><img src="icon/img/prev_button.png" alt=""></div>
                    <div class="next-button photo-buttons"><img src="icon/img/next_button.png" alt=""></div>
                    <div id="lightgallery" class="owl-carousel owl-theme">
                        <div class="item"
                             data-src="http://1.bp.blogspot.com/-y8SPaO6KnVA/UOh1kJWZifI/AAAAAAAAheA/4Lj8eQx7AVw/s1600/sydney+australia+rubber+duck+6.jpg">
                            <img class="grayscale"
                                 src="https://flavorwire.files.wordpress.com/2016/04/5181176-3x2-940x627.jpg?w=205&h=138&crop=1"
                                 alt="image1.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic2.jpg" alt="image2.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic3.jpg" alt="image3.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic4.jpg" alt="image4.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic1.jpg" alt="image5.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic2.jpg" alt="image6.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic3.jpg" alt="image7.jpg"/>
                        </div>
                        <div class="item" data-src="img/big_image.jpg">
                            <img src="img/s22_pic4.jpg" alt="image8.jpg"/>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <!-- V I D E O   C A R O U S E L -->
                    <div class="prev-button video-buttons"><img src="icon/img/prev_button.png" alt="button-left.png">
                    </div>
                    <div class="next-button video-buttons"><img src="icon/img/next_button.png" alt="button-right.png">
                    </div>
                    <div id="video-gallery" class="owl-carousel owl-theme">
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">
                            <img class="grayscale" src="http://img.youtube.com/vi/G8KpPw303PY/hqdefault.jpg"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=PHAc3_MEjgQ">
                            <img class="grayscale" src="http://img.youtube.com/vi/PHAc3_MEjgQ/hqdefault.jpg"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=kFv4qYZQz1g">
                            <img class="grayscale" src="http://img.youtube.com/vi/kFv4qYZQz1g/hqdefault.jpg"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=ZpMp7RK2TMQ">
                            <img class="grayscale" src="http://img.youtube.com/vi/ZpMp7RK2TMQ/hqdefault.jpg"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=N8l1Cjnm9Wg">
                            <img class="grayscale" src="http://img.youtube.com/vi/N8l1Cjnm9Wg/hqdefault.jpg"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=e3PdcKcUvDY">
                            <img class="grayscale" src="http://img.youtube.com/vi/e3PdcKcUvDY/hqdefault.jpg"/>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <!-- P U B L I C A T I O N S -->
                    <div class="fe-col-12">
                        <!--<div class="gallery_heading-box">-->
                            <!--<div class="common_top-heading">Пресса</div>-->
                            <!--<div class="common_top-subheading">ёнгын вāрмаляныл</div>-->
                        <!--</div>-->
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">Участник программы «Маска Плюс» Фестиваля 2015 года. Спектакль “И дольше века длится день”</span><br>
                                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1154</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                    <span class="mass_media-text">Номинации на Премию «Золотая Маска» 2014г. - «Лучший спектакль в театре кукол», «Лучшая работа режиссера»,
«Лучшая работа художника». Спектакль “Дети неба”</span><br>
                                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1060</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">О театре обско-угорских народов “Солнце”</span><br>
                                    <a class="mass_media-link" href="">http://tonkosti.ru/Театр_обско-угорских_народов_«Солнце»</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab">
                    <!-- D O C S -->
                    <p>
                        <a href=""><img src="icon/img/docs.png" alt=""/><span class="white-space_gallery_docs-item">Положение фестиваля</span></a>
                    </p>
                    <p>
                        <a href=""><img src="icon/img/docs.png" alt=""/><span class="white-space_gallery_docs-item">Заявка на участие</span></a>
                    </p>
                </div>
                <div id="tab5" class="tab">
                    <!-- F E S T I V A L   R E S U L T S -->
                    <p>Описательный текст с итогами фестиваля.</p>
                </div>
                <!---->
                <div id="tab6" class="tab">
                    <!-- F E E D B A C K -->
                    <div class="fe-row">
                        <div class="fe-col-12">
                            <div class="post">
                                <p class="post-name">Александр</p>
                                <p class="post-date">02/05/2016</p>
                                <p class="post-message">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Commodi, dolore dolorem fugiat hic labore laboriosam magni nemo nisi
                                    nobis non, nostrum provident quibusdam repellat reprehenderit repudiandae
                                    rerum temporibus
                                    vel voluptatum!</p>
                            </div>
                            <form class="feedback-form" action="feedback">
                                <h4 class="feedback-title">Оставить отзыв:</h4>
                                <input class="feedback feedback-name" type="text" placeholder="Имя Фамилия">
                                <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40"
                                          placeholder="Текст отзыва"></textarea>
                                <input class="submit-button" type="submit" name="submit-button"
                                       value="Отправить">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--A C C O R D E O N-->
    <div class="invisible fe-col-12">
        <div class="accordion accordion-about">
            <div class="accordion-section">
                <a class="accordion-section-title activeTitle" href="#accordion-1"><span
                        class="inner-box-text">Фото</span></a>

                <div id="accordion-1" class="accordion-section-content activeContent">
                    <div id="tab1" class="tab tab-active fe-col-12">
                        <!-- P H O T O   C A R O U S E L -->
                        <div id="lightgallery2" class="owl-carousel owl-theme">
                            <div class="item"
                                 data-src="http://1.bp.blogspot.com/-y8SPaO6KnVA/UOh1kJWZifI/AAAAAAAAheA/4Lj8eQx7AVw/s1600/sydney+australia+rubber+duck+6.jpg">
                                <img class="grayscale"
                                     src="https://flavorwire.files.wordpress.com/2016/04/5181176-3x2-940x627.jpg?w=205&h=138&crop=1"
                                     alt="image1.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic2.jpg" alt="image2.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic3.jpg" alt="image3.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic4.jpg" alt="image4.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic1.jpg" alt="image5.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic2.jpg" alt="image6.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic3.jpg" alt="image7.jpg"/>
                            </div>
                            <div class="item" data-src="img/big_image.jpg">
                                <img src="img/s22_pic4.jpg" alt="image8.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-2"><span
                        class="inner-box-text">Видео</span></a>

                <div id="accordion-2" class="accordion-section-content">
                    <!-- V I D E O   C A R O U S E L -->
                    <div id="video-gallery2" class="owl-carousel owl-theme">
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">
                            <img src="http://img.youtube.com/vi/G8KpPw303PY/hqdefault.jpg" alt="video1"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=PHAc3_MEjgQ">
                            <img src="http://img.youtube.com/vi/PHAc3_MEjgQ/hqdefault.jpg" alt="video2"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=kFv4qYZQz1g">
                            <img src="http://img.youtube.com/vi/kFv4qYZQz1g/hqdefault.jpg" alt="video3"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=ZpMp7RK2TMQ">
                            <img src="http://img.youtube.com/vi/ZpMp7RK2TMQ/hqdefault.jpg" alt="video4"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=N8l1Cjnm9Wg">
                            <img src="http://img.youtube.com/vi/N8l1Cjnm9Wg/hqdefault.jpg" alt="video5"/>
                        </div>
                        <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=e3PdcKcUvDY">
                            <img src="http://img.youtube.com/vi/e3PdcKcUvDY/hqdefault.jpg" alt="video6"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-3"><span
                        class="inner-box-text">Пресса о спектакле</span></a>

                <div id="accordion-3" class="accordion-section-content">
                    <!-- P U B L I C A T I O N S -->
                    <div class="fe-col-12">
                        <!--<div class="gallery_heading-box">-->
                            <!--<div class="common_top-heading">Пресса</div>-->
                            <!--<div class="common_top-subheading">ёнгын вāрмаляныл</div>-->
                        <!--</div>-->
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">Участник программы «Маска Плюс» Фестиваля 2015 года. Спектакль “И дольше века длится день”</span><br>
                                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1154</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                    <span class="mass_media-text">Номинации на Премию «Золотая Маска» 2014г. - «Лучший спектакль в театре кукол», «Лучшая работа режиссера»,
«Лучшая работа художника». Спектакль “Дети неба”</span><br>
                                    <a class="mass_media-link" href="">http://www.goldenmask.ru/spect.php?id=1060</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">О театре обско-угорских народов “Солнце”</span><br>
                                    <a class="mass_media-link" href="">http://tonkosti.ru/Театр_обско-угорских_народов_«Солнце»</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                        <div class="mass_media-box white_space_media-marginless">
                            <div class="mass_media-paragraph white_space_media-marginless">
                                <div class="img-wrap"><img class="mass_media-icon" src="icon/img/pen.png" alt=""/></div>
                                <div class="text-wrap">
                                    <span class="mass_media-text">В Ханты-Мансийске показали спектакль «И дольше века длится день»</span><br>
                                    <a class="mass_media-link" href="">http://toun.ru/news_archive/news?news=1337961567&tape=</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-4"><span
                        class="inner-box-text">Документы</span></a>

                <div id="accordion-4" class="accordion-section-content">
                    <!-- D O C S -->
                    <p>
                        <a href=""><img src="icon/img/docs.png" alt=""/><span class="white-space_gallery_docs-item">Положение фестиваля</span></a>
                    </p>
                    <p>
                        <a href=""><img src="icon/img/docs.png" alt=""/><span class="white-space_gallery_docs-item">Заявка на участие</span></a>
                    </p>
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-5"><span
                        class="inner-box-text">Итоги фестиваля</span></a>

                <div id="accordion-5" class="accordion-section-content">
                    <!-- F E S T I V A L   R E S U L T S -->
                    <p>Описательный текст с итогами фестиваля.</p>
                </div>
            </div>

            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-6"><span
                        class="inner-box-text">Отзывы</span></a>

                <div id="accordion-6" class="accordion-section-content">
                    <!--F E E D B A C K-->
                    <div class="fe-row">
                        <div class="fe-col-12">
                            <div class="post">
                                <p class="post-name">Александр</p>
                                <p class="post-date">02/05/2016</p>
                                <p class="post-message">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Commodi, dolore dolorem fugiat hic labore laboriosam magni nemo nisi
                                    nobis non, nostrum provident quibusdam repellat reprehenderit repudiandae
                                    rerum temporibus
                                    vel voluptatum!</p>
                            </div>
                            <form class="feedback-form" action="feedback">
                                <h4 class="feedback-title">Оставить отзыв:</h4>
                                <input class="feedback feedback-name" type="text" placeholder="Имя Фамилия">
                                <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40"
                                          placeholder="Текст отзыва"></textarea>
                                <input class="submit-button" type="submit" name="submit-button"
                                       value="Отправить">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- W H I T E   S P A C E   G A L L E R Y   E N D -->
