<!-- W H I T E   S P A C E   E X P E R T   S T A R T -->
<div class="fe-row">
    <div class="fe-col-6 fe-col-n-12">
        <div class="white-space_expert global_content-wrapper white-space_left">
            <h2 class="common_top-heading white-space_heading-padding">Экспертный комитет</h2>
            <div class="white-space_contacts_wrapper">
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Владимир Васильевич Орел</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Народный артист России, артист Тюменского
                                драматического театра, Председатель Тюменского отделения Союза театральных деятелей
                                России.</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Арина Александровна Шепелева</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Театральный критик, старший преподаватель РГИСИ,
                                член номинационного совета Высшей театральной премии Санкт-Петербурга "Золотой софит",
                                член жюри множества международных фестивалей театра кукол.</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Куприна Владислава Дмитриевна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Театральный критик, заведующая литературной частью
                                МТЮЗа, педагог РУТИ (ГИТИС). Печатается в "Петербургском театральном журнале", журнале
                                "Сцена", газете "Экран и сцена" и др. Член жюри множества российских театральных
                                фестивалей.</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Евгений Александрович Авраменко</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Театральный критик, преподаватель
                                Санкт-Петербургской Школы русской драмы, эксперт премий "Золотая маска" и "Золотой
                                софит".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fe-col-6 fe-col-n-12">
        <div class="white-space_org global_content-wrapper white-space_right">
            <h2 class="common_top-heading white-space_heading-padding">Организационный комитет</h2>
            <div class="white-space_contacts_wrapper">
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Буторина Светлана Михайловна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">начальник управления по вопросам культурной политики и культурных ценностей
                                Департамента культуры Ханты-Мансийского автономного округа - Югры</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Кравчук Ирина Петровна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">начальник отдела профессионального искусства и народного творчества
                                Департамента культуры Ханты-Мансийского автономного округа - Югры</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Литвинчук Евгений Леонидович</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">директор бюджетного учреждения Ханты-Мансийского автономного округа - Югры
                                "Театр обско-угорских народов - Солнце"</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Журавлева Лариса Николаевна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">исполнительный директор автономного учреждения Ханты-Мансийского автономного округа - Югры
                                "Концертно-театральный центр "Югра-классик"</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Вишневская Анна Владимировна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">художественный руководитель бюджетного учреждения Ханты-Мансийского автономного округа - Югры
                                "Театр обско-угорских народов - Солнце</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Архипов Леонид Андреевич</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Заслуженный работник культуры Ханты-Мансийского автономного округа - Югры, член союза театральных деятелей по
                                Тюменской области</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Моор Зинаида Федоровна</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">Заслуженный работник культуры Ханты-Мансийского автономного округа - Югры</p>
                        </div>
                    </div>
                </div>
                <div class="fe-row white-space_contacts_item">
                    <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
                        <div class="white-space_contacts_item-wrapper">
                            <h4 class="white-space_contacts_name">Журавлев Виктор Михайлович</h4>
                        </div>
                    </div>
                    <div class="fe-col-9 fe-col-n-12 fe-col-s-8">
                        <div class="white-space_contacts_item-wrapper">
                            <p class="white-space_contacts_position">тележурналист, режиссер, лауреат премии Ханты-Мансийского автономного округа - Югры, член Союза
                                журналистов РФ, начальник редакции финно-угорских программ ОТРК-Югра</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- W H I T E   S P A C E   E X P E R T   E N D -->
