<!-- W H I T E   S P A C E   C O N T A C T S   S T A R T -->
<div class="fe-row">
  <div class="white-space_contacts global_content-wrapper">
    <h2 class="common_top-heading">Контакты</h2>
    <div class="white-space_contacts_wrapper">
      <div class="fe-row">
        <div class="fe-col-3 fe-col-n-12">
          <span class="white-space_contacts_section">Список критиков:</span>
        </div>
      </div>
      <div class="fe-row white-space_contacts_item">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <div class="white-space_contacts_item-wrapper">
            <h4 class="white-space_contacts_name">Владимир Васильевич Орел</h4>
          </div>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_position">Народный артист России, артист Тюменского драматического театра. Председатель Тюменского отделения Союза театральных деятелей России.</p>
          </div>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_contacts">т/ф 8 (3452) 20-03-28</p>
            <p class="white-space_contacts_contacts">8 (912) 920-71-60</p>
            <p class="white-space_contacts_contacts">std-tmn@mail.ru</p>
          </div>
        </div>
      </div>
      <div class="fe-row white-space_contacts_item">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <div class="white-space_contacts_item-wrapper">
            <h4 class="white-space_contacts_name">Людмила Анатольевна Магина</h4>
          </div>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_position">Помощник в СТД</p>
          </div>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_contacts">8 (952) 345-83-75</p>
          </div>
        </div>
      </div>
      <div class="fe-row white-space_contacts_item">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <div class="white-space_contacts_item-wrapper">
            <h4 class="white-space_contacts_name">Арина Александровна Шепелева</h4>
          </div>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_position">Театральный критик, старший преподаватель РГИСИ, член номинационного совета Высшей театральной премии Санкт-Петербурга "Золотой софит", член жюри множества международных фестивалей театра кукол.</p>
          </div>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_contacts">8 (921) 588-23-90</p>
            <p class="white-space_contacts_contacts">д. т. (812) 764 59 93</p>
            <p class="white-space_contacts_contacts">nora-ra@yandex.ru</p>
          </div>
        </div>
      </div>
      <div class="fe-row white-space_contacts_item">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <div class="white-space_contacts_item-wrapper">
            <h4 class="white-space_contacts_name">Куприна Владислава Дмитриевна</h4>
          </div>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_position">Театральный критик, заведующая литературной частью МТЮЗа, педагог РУТИ (ГИТИС). Печатается в "Петербургском театральном журнале", журнале "Сцена", газете "Экран и сцена" и др. Член жюри множества российских театральных фестивалей.</p>
          </div>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_contacts">с. 8 (926) 300-28-43</p>
            <p class="white-space_contacts_contacts">р. 8 (495) 699-49-61</p>
            <p class="white-space_contacts_contacts">vladikuprina@mail.ru</p>
            <p class="white-space_contacts_contacts">vladislavakuprina.1@mail.ru</p>
          </div>
        </div>
      </div>
      <div class="fe-row white-space_contacts_item">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <div class="white-space_contacts_item-wrapper">
            <h4 class="white-space_contacts_name">Евгений Александрович Авраменко</h4>
          </div>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_position">Театральный критик, преподаватель Санкт-Петербургской Школы русской драмы, эксперт премий "Золотая маска" и "Золотой софит".</p>
          </div>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <div class="white-space_contacts_item-wrapper">
            <p class="white-space_contacts_contacts">8 951 657 55 42</p>
          </div>
        </div>
      </div>
      <div class="fe-row">
        <div class="fe-col-3 fe-col-n-12 fe-col-s-12">
          <span class="white-space_contacts_section">Телефон для справок:</span>
        </div>
        <div class="fe-col-6 fe-col-n-12 fe-col-s-8">
          <span>&nbsp;</span>
        </div>
        <div class="fe-col-3 fe-col-n-12 fe-col-s-4">
          <p class="white-space_contacts_contacts">8(3467) 33-54-61</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- W H I T E   S P A C E   C O N T A C T S   E N D -->
