<!-- W H I T E   S P A C E   F E S T I V A L   S T A R T -->
<div class="fe-row">
  <div class="white-space_festival global_content-wrapper">
    <h2 class="common_top-heading white-space_heading-center">VII Окружной театральный фестиваль «Белое пространство»</h2>
    <div class="common_top-subheading common_top-subheading-center">ёнгын вāрмаляныл</div>
    <div class="white-space_festival_years">
      <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2015" href="#">2015</a></p>
      <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2016" href="#">2016</a></p>
    </div>
    <div class="fe-row">
      <div class="fe-col-b-3 fe-col-m-4 space_visible">
        <div class="fe-row white-space_festival_logo-box">
          <img src="icon/img/white-space-logo.png" alt="" />
        </div>
      </div>
      <div class="fe-col-b-9 fe-col-m-8">
        <div class="white-space_festival_article_ru">
          <p class="white-space_paragraph">В Ханты-Мансийске идёт подготовка к VII Окружному театральному фестивалю «Белое пространство». На сцене представят постановки театров из Нижневартовска, Сургута, Нефтеюганска, Нягани и Ханты-Мансийска. Два спектакля самым маленьким зрителям покажет Ханты-Мансийский театр кукол, ещё два спектакля привезут из Нижневартовска. Взрослые увидят моноспектакли «Наташина мечта» (КТЦ «Югра-Классик»), «Чернобыльская молитва» (Сургутский музыкально-драматический театр). Также своё выступление готовит Театр обско-угорских народов «Солнце». К «Белому пространству» готовятся и другие театральные коллективы округа.</p>
          <p class="white-space_paragraph">Стоит напомнить, что история фестиваля берёт своё начало в 2004 году. Тогда в Ханты-Мансийске прошли первые театральные фестивали. В 2012 году «Белое пространство» обосновалось в Нижневартовске, в 2014 - в Сургуте. В текущем году мероприятие вновь проведут в столице Югры. С 25 по 29 мая на четырёх сценических площадках покажут 17 спектаклей.</p>
        </div>
        <br><br>
        <div class="white-space_festival_article_kca-mns">
          <p class="white-space_paragraph">Ханты-Мансийск аудандық VII театр фестивалінің «Ақ ғарыш» үшін дайындық болып табылады. Сахнада, Нижневартовск, Сургут, Нефтеюганск, Нягань және из Ханты-Мансийска театрларының қойылымдарын ұсынатын болады. Екі қойылымдар Ханты-Мансийск қуыршақ театрының ең кішкентай көрермендерді, Нижневартовск әкелінген тағы екі қойылымдар көрсетеді. Ересектер жеке қойылымдар «Наташаны арманы» (КТК «Югра-Classic»), «Чернобыль Намаз» (Сургут музыкалық-драма театры) бөлімін қараңыз. Сондай-ақ, оның сөйлеу Обь-угор халықтары Күннің «театры дайындалуда. басқа театр Аудандық командалар дайындау «Ақ кеңістігінде» арқылы.</p>
          <p class="white-space_paragraph">Бұл фестивальдің тарихы 2004 жылы оның шыққан бар екенін еске тұр. Содан кейін, Ханты-Мансийск бірінші театр фестивальдерінің өтті. 2012 жылы «Ақ ғарыш» 2014 жылы, Нижневартовск шешіледі - Сургут. Биыл іс-шара тағы да Югры астанасы өткізеді. 25-тен 29 17 спектакльдер төрт аудандарынан мамыр көрсетіледі.</p>
        </div>
      </div>
      <div class="fe-col-b-3 fe-col-m-4 space_invisible">
        <div class="fe-row white-space_festival_logo-box">
          <img src="icon/img/white-space-logo.png" alt="" />
        </div>
        <div class="fe-row white-space_festival_link-box">
          <a class="" href="#">
            <span class="white-space_festival_link-text">История фестиваля</span><img src="icon/img/read-piece.png" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- W H I T E   S P A C E   F E S T I V A L   E N D -->
